.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  width: 150px;
}

.middle-section {
  flex: 1;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 30px;
}

.right-section {
  width: 200px;
}
